{% extends 'site_base.html' %}
{% load i18n %}
{% load l10n %}
{% load staticfiles %}
{% load thecarib_tags %}

{% block head %}
<link rel='stylesheet' href="{% static 'libs/bower_components/fullcalendar/dist/fullcalendar.css' %}"/>
{% include "thedirectory/map/map_page_header.html" %}
{% endblock %}


{% block body-header-content %}

<!-- Header -->


    <header id="top" class="header">
        <div class="text-vertical-center">
            <h1 class="name">The Caribbean <abbr title="Free Open Source">FOS</abbr></h1>
            <hr class="star-light">
<!--
<p class="lead">{% trans '<abbr title="Free Open Source" class="initialism">FOS</abbr> stands for Free &amp; Open Source ; in kr&eacute;yol <abbr title="Free Open Source" class="initialism">FOS</abbr> means <i>strength</i> and <i>energy</i>' %}</p>
-->
            <h3>{% trans "Help us build the free &amp; open source caribbean hub !" %}</h3>
            <br>
            <a href="#wwww" class="btn btn-default btn-lg">Read more</a>
        </div>
        <div class="hidden-xs credit-header">
            <p>photo : Mstyslav Chernov <a href="https://commons.wikimedia.org/wiki/File:Guadeloupe_winter_carnival,_Pointe-%C3%A0-Pitre_parade._A_group_of_drummers_during_carnival_procession%28photo_reportage,_outdoor_portrait%29.jpg">Wikimedia Commons</a> - <a href="https://creativecommons.org/licenses/by-sa/3.0/deed.en">licence CC BY-SA 3.0</a></p>
        </div>
    </header>
<div id="wwww"></div>
{% endblock %}





{% block main-content %}
<!--
<div class="container">


        <div class="row">
            <div class="col-lg-12">

                <img class="img-responsive" src="{% static 'libs/startbootstrap-freelancer-1.0.3/img/profile.png' %}" alt="">
                <div class="intro-text">
                    <h1 class="name">The Caribbean <abbr title="Free Open Source">FOS</abbr></h1>
                    <hr class="star-light">
                    <p class="skills">{% trans '<abbr title="Free Open Source" class="initialism">FOS</abbr> stands for Free &amp; Open Source ; in kr&eacute;yol <abbr title="Free Open Source" class="initialism">FOS</abbr> means <i>strength</i> and <i>energy</i>' %}</p>
                </div>
            </div>
            <div class="text-center">
                <div class="col-md-6">
                    <h1 class="hp"><a href="{% url 'thedirectory:map' %}" title="{% trans 'Show the map' %}" class="hp"><span class="fa-3x">{{ nb_entries }}</span>  <i class="fa fa-rocket fa-3x"></i></a></h1>
                    <p class="lead">{% trans 'entries in the caribbean FOS directory' %}</p>
                    <p>
                    <a class="btn btn-primary btn-lg" href="{% url 'thedirectory:form_entry_add' %}" role="button">{% trans 'Add a new people or organization' %}</a>
                    <a class="btn btn-default btn-lg" href="{% url 'thedirectory:map' %}" role="button">{% trans 'Show the map' %}</a>
                    </p>
                </div>
                <div class="col-md-6">
                    <h1 class="hp"><a href="{% url 'thecalendar:agenda' %}" title="{% trans 'Show the calendar' %}"><span class="fa-3x">{{ nb_events }}</span> <i class="fa fa-calendar-o fa-3x"></i></a></h1>
                    <p class="lead">{% trans 'events in the caribbean FOS calendar' %}</p>
                    <p>
                    <a class="btn btn-primary btn-lg" href="{% url 'thecalendar:form_event_add' %}" role="button">{% trans 'Add a new event' %}</a>
                    <a class="btn btn-default btn-lg" href="{% url 'thecalendar:agenda' %}" role="button">{% trans 'Show the calendar' %}</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
-->

<div class="container" id="pitch">
    <div class="row text-center">
        <div class="col-mg-12">
            <h2>{{ request.get_host }}</h2>
            <hr class="star-primary">
            <br>
            <p class="lead">{% trans 'Places and dates for the caribbean Free &amp; Open Source software / hardware / data / networks / companies, communities and people ...' %}</p>
            <br><br>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-3">
            <h2>Who<br><i class="fa fa-share-alt"></i></h2>
            <p>{% trans "The directory : communities, companies and people ..."%}</p>
            <p><a class="btn btn-default" href="{% url 'thedirectory:form_entry_add' %}" role="button">{% trans 'Add a new entry' %}</a></p>
        </div>
        <div class="col-md-3">
            <h2>What<br><i class="fa fa-rocket"></i></h2>
            <p>{% trans "The dates : conventions, meetings, talks, workshops ..."%}</p>
            <p><a class="btn btn-default" href="{% url 'thecalendar:form_event_add' %}" role="button">{% trans 'Add a new event' %}</a></p>
        </div>
        <div class="col-md-3">
            <h2>When<br><i class="fa fa-calendar-o"></i></h2>
            <p>{% trans "The calendar : all FOS events, in the whole caribbean" %}</p>
            <p><a class="btn btn-default" href="{% url 'thecalendar:agenda' %}" role="button">{% trans 'Show the calendar' %}</a></p>
        </div>
        <div class="col-md-3">
            <h2>Where<br><i class="fa fa-map"></i></h2>
            <p>{% trans "The map : all FOS spots, in the whole caribbean" %}</p>
            <p><a class="btn btn-default" href="{% url 'thedirectory:map' %}" role="button">{% trans 'Show the map' %}</a></p>
        </div>
    </div>
</div>
{% endblock %}

{%  block body-footer-content %}
<div id="map" style="width: 100%; height: 475px; padding-top: -50px;"></div>
{% endblock %}

{% block footer-js %}
    {# Custom Full calendar #}
    <script src="{% static 'libs/bower_components/moment/min/moment.min.js' %}"></script>
    <script src="{% static 'libs/bower_components/fullcalendar/dist/fullcalendar.js' %}"></script>
    <script src="/static/libs/bower_components/fullcalendar/dist/lang/{% get_current_language as LANGUAGE_CODE %}{{ LANGUAGE_CODE }}.js"></script>
    {% include "thecalendar/fullcalendar_page_footer.html" %}
    {% include "thedirectory/map/map_page_footer.html" %}
    <script src="{% static 'libs/bower_components/jquery-form/jquery.form.js' %}"></script>
    <script type="text/javascript">
    $('#fosModal').on('hidden.bs.modal', function () {
      $(this).removeData('bs.modal');
    })
    </script>
{% endblock %}

{% block analytics %}{% endblock %}
