{% load i18n %}

<div class="dropdown text-center" style="margin-bottom:20px;" role="group">

  <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
    <i class="fa fa-filter"></i> {% if country_name %}{{ country_name }}{% else %}{% trans 'Filter by country' %}{% endif %}
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu text-center" role="menu" aria-labelledby="dropdownMenu1">
    <li role="presentation" {% if not country_name %} class="active"{% endif %}>
        <a role="menuitem" tabindex="-1" href="?country=">{% trans 'Show all countries' %}</a>
        </li>
    {% for country in countries %}
    <li role="presentation" {% if country.iso == request.GET.country %} class="active" {% endif %}>
        <a role="menuitem" tabindex="-1" href="?country={{ country.iso }}">{{ country.name }}</a>
    </li>
    {% endfor %}
  </ul>
</div>



