{% extends 'include/page_panel.html' %}
{% load staticfiles %}
{% load i18n %}
{% load slug2js %}
{% load endless %}


{% block head_title %}{{ country.name }}{% endblock %}

{% block head %}
{% include "thedirectory/map/map_page_header.html" %}
<link rel='stylesheet' href="{% static 'libs/bower_components/fullcalendar/dist/fullcalendar.css' %}"/>
{% endblock %}

{% block content-title %}{{ country.name }}{% endblock %}

{% block panel-title %}<a href="{% url 'thecarib:country_list' %}">{% trans 'Caribbean' %}</a> /  {{ country.name }}{% endblock %}

{% block panel-body %}
<div class="col-md-6">
    <h3 class="page-header"><i class="fa fa-rocket"> </i> {% trans 'Organizations and people' %}</h3>
    <div class="list-group">{% lazy_paginate 5 entry_list using 'entries_at_page' %}{% for entry in entry_list %}
      <a href="{% url 'thedirectory:entry_detail' entry.slug %}" class="list-group-item">
        <h4 class="list-group-item-heading">{{ entry.name }}</h4>
        <p class="list-group-item-text"><small>{{ entry.category.name }}</small></p>
        <p class="list-group-item-text btn-link">{{ entry.description|slice:":150" }}</p>
      </a>
    {% empty %}
    <p>{% blocktrans with country_name=country.name %}Sorry, no entry registered yet in {{ country_name }} in Caribbean Free Open Source organization and people directory{% endblocktrans %}</p>
    {% endfor %}{% show_pages %}
    </div>
    <p><a class="btn btn-primary" href="{% url 'thedirectory:form_entry_add' %}" role="button">{% trans 'Add a new organization or people' %}</a></p>
</div>
<div class="col-md-6">
    {% if event_list|length < 1 %}
    <h3 class="page-header"><i class="fa fa-random"> </i> {% trans 'Coming Events' %}</h3>
    <p>{% blocktrans with country_name=country.name %}Sorry, no coming events scheduled in Caribbean Free Open Source calendar for {{ country_name }}.{% endblocktrans %}</p>
    <p><a class="btn btn-primary" href="{% url 'thecalendar:form_event_add' %}" role="button">{% trans 'Add a new date' %}</a>
    <a class="btn btn-link" href="{% url 'thecalendar:agenda' %}?country={{ country.iso }}">{% blocktrans with country_name=country.name %}See calendar {{ country_name }}{% endblocktrans %}</a></p>
    {% endif %}
    {% if event_list|length > 1 %}
    <h3 class="page-header"><i class="fa fa-random"> </i> {% trans 'Coming Events' %}</h3>
    {% endif %}
    <div class="list-group">{% lazy_paginate 5 event_list using 'events_at_page' %}{% for event in event_list %}
      <a href="{% url 'thecalendar:event_detail' event.slug %}" class="list-group-item">
        <h4 class="list-group-item-heading">{{ event.summary }}</h4>
        <p class="list-group-item-text"><small>{{ event.dtstart }}{% if event.dtend != event.dtstart %} - {{ event.dtend }}{% endif %}</small></p>
        <p class="list-group-item-text btn-link">{{ event.description|slice:":150" }}</p>
      </a>
    {% endfor %}{% show_pages %}
    </div>
</div>
{% endblock %}

{% block osmmap %}<div style="height:350px;" id="map"></div><br>{% endblock %}

{% block see-also %}
    {% for country in country_list %}
    <li><strong><a href="{% url 'thecarib:country_detail' country.iso %}">{{ country.name|upper }}</a></strong></li>
    {% endfor %}
{% endblock %}

{% block footer-js %}
<script>
    var map = new L.map('map',{fullscreenControl: false,
                                scrollWheelZoom: false,
                                fullscreenControlOptions:{position: 'topleft'}
                              }).setView([19.031, -73.048], 4);
    L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 18,
        attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
            '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>'
    }).addTo(map);
    var markers = L.markerClusterGroup();

    {% for entry in entry_list %}
        {% if entry.lat %}
        var marker = L.marker(new L.LatLng({{ entry.lat }}, {{ entry.lon }}), { title: "{{ entry.name }}" });
        var popup = "<h3>{{ entry.name }}</h3>{% if entry.tags %}<ul class=\"list-inline\">{% for tag in entry.tags.slugs %}<li>#{{ tag }}</li>{% endfor %}</ul><p>{{ entry.category }}</p><p class=\"text-right\"><a href=\"/directory/entries/{{ entry.slug }}/\" class=\"small\">Read more <i class=\"fa fa-arrow-circle-right\"></i></a></p>{% endif %}";
        marker.bindPopup(popup);
        markers.addLayer(marker);
        {% endif %}
    {% endfor %}
    {% for event in event_list %}
        {% if event.lat %}
        var marker = L.marker(new L.LatLng({{ event.lat }}, {{ event.lon }}), { title: "{{ event.summary }}" });
        markers.addLayer(marker);
        {% endif %}
    {% endfor %}

    map.addLayer(markers);
    map.on();
</script>
<script src="{% static 'libs/bower_components/moment/min/moment.min.js' %}"></script>
<script src="{% static 'libs/bower_components/fullcalendar/dist/fullcalendar.js' %}"></script>
<script src="/static/libs/bower_components/fullcalendar/dist/lang/{% get_current_language as LANGUAGE_CODE %}{{ LANGUAGE_CODE }}.js"></script>
<script type="application/javascript">
    $(document).ready(function() {
    $('#calendar').fullCalendar({
            contentHeight: 'auto',
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay'
            },
            defaultDate: '{% now "Y-m-d" %}',
            selectable: true,
            selectHelper: true,
            select: function(start, end) {
                var eventData;
                if (title) {
                    eventData = {
                        title: title,
                        start: start,
                        end: end
                    };
                    $('#calendar').fullCalendar('renderEvent', eventData, true); // stick? = true
                }
                $('#calendar').fullCalendar('unselect');
            },
            editable: false,
            eventLimit: false, // allow "more" link when too many events
            events: '{% url "thecalendar:fullcalendar_json" %}?country={{ country.iso }}'
    })
});
</script>


{% endblock %}
