{% extends 'page.html' %}
{% load staticfiles %}
{% load i18n %}
{% load django_markdown %}
{% block head_title %}{{ event.summary }}{% endblock %}

{% block head %}
{% include "thedirectory/map/map_page_header.html" %}
{% endblock %}

{% block main-content %}
<section>
    <div class="container">
        <div class="row">
            <h2 class="text-center">{{ event.summary }}</h2>
            <hr class="star-primary">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="pull-right social-links">
                        <a href="{{ event.web }}">
                            <span class="fa-stack fa"><i class="fa fa-globe fa-stack-2x"></i></span>
                        </a>
                        {% if entry.twitter %}
                        <a href="https://twitter.com/{{ entry.twitter }}" class="twitter-social">
                        <span class="fa-stack fa">
                            <i class="fa fa-square fa-stack-2x"></i>
                            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                        </span></a>
                        {% endif %}
                        {% if entry.facebook %}
                        <a href="{{ entry.facebook }}" class="facebook-social">
                        <span class="fa-stack fa">
                            <i class="fa fa-square fa-stack-2x"></i>
                            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                        </span></a>
                        {% endif %}
                        {% if entry.googleplus %}
                        <a href="{{ entry.googleplus }}" class="googleplus-social">
                        <span class="fa-stack fa">
                            <i class="fa fa-square fa-stack-2x"></i>
                            <i class="fa fa-googleplus fa-stack-1x fa-inverse"></i>
                        </span></a>

                        {% endif %}
                        {% if entry.linkedin %}
                        <a href="{{ entry.linkedin }} class="linkedin-social">
                        <span class="fa-stack fa">
                            <i class="fa fa-square fa-stack-2x"></i>
                            <i class="fa fa-googleplus fa-stack-1x fa-inverse"></i>
                        </span></a>
                        {% endif %}
                    </div>
                    <h3 class="panel-title">
                        <a href="{% url 'thecarib:country_list' %}">{% trans 'Caribbean' %}</a> /  <a href="{% url 'thecarib:country_detail' event.country.iso %}">{{ event.country.name }}</a> / <a href="{% url 'thecalendar:category_detail' event.category.slug %}">{{ event.category.name}}</a> / {{ event.summary }}</h3>
                </div>
                <div class="panel-body">
                    <h3>{{ event.summary }} <small>{% trans 'by' %} <a href="{% url 'theuser:user_detail' event.creation_user.username %}">{{ event.creation_user.username }}</a></small>
                    {% if request.user.is_authenticated %}
                        {% if request.user.username == event.creation_user.username %}
                        <a href="{% url 'thecalendar:form_event_update' event.slug %}" class="btn btn-default btn-xs">{% trans 'Edit' %}</a>
                        {% endif %}
                    {% else %}
                        <a href="{% url 'thecalendar:form_event_update' event.slug %}" class="btn btn-default btn-xs">{% trans 'Log in' %}</a>
                    {% endif %}</h3>
                    <h4>{{ event.dtstart}}{% if event.dtend != eventdtstart %} - {{ event.dtend}}{% endif %}</h4>
                    {{ event.description|markdown }}
                </div>
                <div class="panel-footer">
                    {% if event.tags %}
                    <ul class="list-inline" style="margin:0;padding:0;">
                        {% for tag in event.tags.slugs %}
                        <li>{{ tag }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            </div>
            <div style="height:350px;" id="map">
            </div><br>
            <address>
              <strong>{{ event.name }}</strong><br>
              {% if event.address %}{{ event.address }}<br>{% endif %}
              {{ event.country.name }}<br>
              <a href="{{ event.web }}">{{ event.web }}</a>
            </address>
            <small class="text-muted"><i class="fa fa-user"> </i> {{ event.creation_user.username }}{% if event.creation_date %} <i class="fa fa-calendar"> </i> {{ event.creation_date}}{% endif %}
            {% if event.lastupdate_date != event.creation_date %} <i class="fa fa-pencil-square-o"> </i> {{ event.lastupdate_date}}{% endif %}</small>
            <hr>
        </div>
        <div class="row">
            {% if event.tags.similar_objects %}
                <div class="col-md-6">
                    <h4>{% trans 'See Also' %}</h4>
                    <ul>
                    {% for object in event.tags.similar_objects %}
                        <li><strong><a href="{% url 'thecalendar:event_detail' object.slug %}">{{ object.name|upper }}</a></strong> ({{object.country.name}} / {{object.category.name }})</li>
                    {% endfor %}
                    </ul>
                </div>
            {% endif %}
            <div class="col-md-6">
                {% include 'share_this_page.html' %}
            </div>
        </div>
    </div>
</section>
{% endblock main-content %}

{% block footer-js %}
<script>
var map = new L.map('map',{fullscreenControl: false,
                            scrollWheelZoom: false,
                            fullscreenControlOptions:{position: 'topleft'}
                          }).setView([19.031, -73.048], 4);
L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 18,
    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
        '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>'
}).addTo(map);

var marker = null;
var found;
marker = L.marker([{{ event.lat }}, {{ event.lon }}]).addTo(map);
//~ map.on(map.setView(([{{ entry.lat }}, {{ entry.lon }}]), 13));
map.on();

</script>
{% endblock %}
