{% extends 'site_base.html' %}
{% load i18n %}
{% load l10n %}
{% load staticfiles %}
{% load thecarib_tags %}

{% block head %}
<link rel='stylesheet' href="{% static 'libs/bower_components/fullcalendar/dist/fullcalendar.css' %}"/>

{% include "thedirectory/map/map_page_header.html" %}

{% endblock %}


{% block body-header-content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <img class="img-responsive" src="{% static 'libs/startbootstrap-freelancer-1.0.3/img/profile.png' %}" alt="">
                <div class="intro-text">
                    <h1 class="name">The Caribbean <abbr title="Free Open Source">FOS</abbr></h1>
                    <hr class="star-light">
                    <p class="skills">{% trans '<abbr title="Free Open Source" class="initialism">FOS</abbr> stands for Free Open Source ; in kr&eacute;yol <abbr title="Free Open Source" class="initialism">FOS</abbr> means <i>strength</i> and <i>energy</i>' %}</p>
                </div>
            </div>
            <div class="text-center">
                <div class="col-md-6">
                    <h1 class="hp"><a href="{% url 'thedirectory:map' %}" title="{% trans 'Show the map' %}" class="hp"><span class="fa-3x">5</span>  <i class="fa fa-rocket fa-3x"></i></a></h1>
                    <p class="lead">{% trans 'entries in the caribbean FOS directory' %}</p>
                    <p>
                    <a class="btn btn-primary btn-lg" href="{% url 'thedirectory:form_entry_add' %}" role="button">{% trans 'Add a new people or organization' %}</a>
                    <a class="btn btn-default btn-lg" href="{% url 'thedirectory:map' %}" role="button">{% trans 'Show the map' %}</a>
                    </p>
                </div>
                <div class="col-md-6">
                    <h1 class="hp"><a href="{% url 'thecalendar:agenda' %}" title="{% trans 'Show the calendar' %}"><span class="fa-3x">5</span> <i class="fa fa-calendar-o fa-3x"></i></a></h1>
                    <p class="lead">{% trans 'events in the caribbean FOS calendar' %}</p>
                    <p>
                    <a class="btn btn-primary btn-lg" href="{% url 'thecalendar:form_event_add' %}" role="button">{% trans 'Add a new event' %}</a>
                    <a class="btn btn-default btn-lg" href="{% url 'thecalendar:agenda' %}" role="button">{% trans 'Show the calendar' %}</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}





{% block main-content %}
<div class="container">
    <div class="row text-center">
        <div class="col-mg-12">
            <h2>{{ request.get_host }}</h2>
            <hr class="star-primary">
            <br>
            <p class="lead"><a href="{% url 'thedirectory:map' %}">{% trans 'The map' %}</a> and <a href="{% url 'thecalendar:agenda' %}">{% trans 'the calendar' %}</a> for the {% trans 'The <a href="/caribbean/">Caribbean</a> Free Open Source software / hardware / data / networks / companies, communities and people ...' %}</p>
            <p>
                <a href='https://twitter.com/thecaribfos' role="button" class="btn btn-twitter btn-lg"><span class='fa fa-twitter'> </span> {% trans 'follow @TheCaribFOS' %}</a>
                <a href="{% url 'thecontactform:contact-form' %}" class="btn btn-link btn-lg">{% trans 'Contact' %}</a>
            </p>
        </div>
    </div>
</div>
{% endblock %}


{% block footer-js %}
    {# Custom Full calendar #}
    <script src="{% static 'libs/bower_components/moment/min/moment.min.js' %}"></script>
    <script src="{% static 'libs/bower_components/fullcalendar/dist/fullcalendar.js' %}"></script>
    <script src="/static/libs/bower_components/fullcalendar/dist/lang/{% get_current_language as LANGUAGE_CODE %}{{ LANGUAGE_CODE }}.js"></script>
    {% include "thecalendar/fullcalendar_page_footer.html" %}
    {% include "thedirectory/map/map_page_footer.html" %}
    <script src="{% static 'libs/bower_components/jquery-form/jquery.form.js' %}"></script>
    <script type="text/javascript">
    $('#fosModal').on('hidden.bs.modal', function () {
      $(this).removeData('bs.modal');
    })
    </script>

{% endblock %}

{% block analytics %}{% endblock %}
