{% load i18n %}
<h4>{% trans 'Share This Page' %}</h4>
<p><i>{% trans 'You like this page ? So share it with your friends:' %}</i></p>
<div>
    <a target="_blank" title="Twitter" href="https://twitter.com/share?url={{ request.build_absolute_uri|urlencode }}&amp;via=caribfos"
        rel="nofollow" class="twitter-share"
        onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=400,width=700');return false;">
        <span class="fa-stack fa-lg">
            <i class="fa fa-square fa-stack-2x"></i>
            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
        </span></a>

    <a target="_blank" title="Facebook" href="https://www.facebook.com/sharer.php?u={{ request.build_absolute_uri|urlencode }}&amp;t={{ entry.name|urlencode }}"
        rel="nofollow"  class="facebook-share"
        onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=500,width=700');return false;">
        <span class="fa-stack fa-lg">
          <i class="fa fa-square fa-stack-2x"></i>
          <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
        </span></a>
    <a target="_blank" title="Google +" href="https://plus.google.com/share?url={{ request.build_absolute_uri|urlencode }}&amp;hl=fr"
        rel="nofollow" class="googleplus-share"
        onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=450,width=650');return false;">
        <span class="fa-stack fa-lg">
          <i class="fa fa-square fa-stack-2x"></i>
          <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
        </span></a>
    <a target="_blank" title="Linkedin" href="https://www.linkedin.com/shareArticle?mini=true&url={{ request.build_absolute_uri|urlencode }}&amp;title={{ entry.name|urlencode }}"
        rel="nofollow" class="linkedin-share"
        onclick="javascript:window.open(this.href, '','menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=450,width=650');return false;">
        <span class="fa-stack fa-lg">
          <i class="fa fa-square fa-stack-2x"></i>
          <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
        </span></a>
</div>
